 .rootStyle {
    justify-content : center;
    flex-direction : column;
    display:flex;
}
.textStyle {
    align-self:center;
    color:orange;
}
.innerrootStyle {
    margin-top:20px;
    align-self:center;
    flex-direction:column;
}
.inputStyle {
    box-shadow:2px 2px orange;
    padding:10px;
    width:500px;
    border-radius:10px;
}
.buttonStyle {
    margin-left:10px;
    background-color:orange;
    border-radius:5px;
    height:30px;
    width:50px;
    box-shadow:2px 2px 2px lightgray;
    border:1px solid orange;
}
.listStyle {
    padding:10px;
    background-color:orange;
    box-shadow:2px 2px 2px lightgray;
    margin-top:10px;
    border-radius:10px;
}
.listtextStyle {
    padding-left:10px;
}
.innerlistStyle {
    display:flex;
    justify-content:space-between;
}
